# Chapter 4: Split-Apply-Combine and Merging 

```{contents} Table of Contents
:depth: 3
```

## Split - Apply - Combine

A common task in computer programming is to apply the same function to many sets of similar rows in a dataframe, and compile the results. 

Suppose you have stored a data frame $D$ with column $c_{1},c_{2},\cdots,c_{n}$. 
In addition to these columns we have one extra column $C$ that contains the values $v_{1},v_{2},\cdots,v_{p}$ that **split** the rows of our dataframe. 

We also have a function $f$ that takes as input a dataframe and returns a result.

Our goal is to **apply** our function $f$ to the rows of our dataframe that correspond to $C == v_{1}$, and then **apply** our function to the rowd of our dataframe that correpond to $C==v_{2}$, and so on. 
After we gather our results for each subset, we finally would like to **combine** all the results into a single dataframe. 




## Merging

In [2]:
import pandas as pd
import numpy as np 

doctorVisits = pd.read_csv("https://vincentarelbundock.github.io/Rdatasets/csv/AER/DoctorVisits.csv")
doctorVisits

,rownames,visits,gender,age,income,illness,reduced,health,private,freepoor,freerepat,nchronic,lchronic
0,1,1,female,0.19,0.55,1,4,1,yes,no,no,no,no
1,2,1,female,0.19,0.45,1,2,1,yes,no,no,no,no
2,3,1,male,0.19,0.90,3,0,0,no,no,no,no,no
3,4,1,male,0.19,0.15,1,0,0,no,no,no,no,no
4,5,1,male,0.19,0.45,2,5,1,no,no,no,yes,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5185,5186,0,female,0.22,0.55,0,0,0,no,no,no,no,no
5186,5187,0,male,0.27,1.30,0,0,1,no,no,no,no,no
5187,5188,0,female,0.37,0.25,1,0,1,no,no,yes,no,no
5188,5189,0,female,0.52,0.65,0,0,0,no,no,no,no,no
5189,5190,0,male,0.72,0.25,0,0,0,no,no,yes,no,no